* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #728585;
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.search-bar {
  width: 352px;
  border: none;
  outline: none;
}

.category-btn {
  margin: 10px 0;
  padding: 7px 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  background: transparent;
  font-weight: bold !important;
  text-transform: capitalize;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-btn {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category-btn:hover {
  background-color: #76323f;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}
